@using HappyRE.Core.Resources
<div class="account-info">
    <span class="split"></span>
    <span><i class="icon icon-favorite" ng-class="{isfavorited: IsFavorite(2072739)}"></i></span>
    @{ 
        if (User.Identity.IsAuthenticated == true)
        {

        }
        else
        {

        }
    }
</div>


