<div class="social-network share-link-group">
	<a class="share-link" socialshare socialshare-provider="facebook"
	   socialshare-display="popup"
	   socialshare-popup-height="400"
	   socialshare-popup-width="500"
	   socialshare-url="{{Url}}">
		<svg width="40px" height="40px"><use xlink:href="{{svgFacebook}}"></use></svg>
	</a>
	<a class="share-link" socialshare socialshare-provider="facebook"
	   socialshare-type="send"
	   socialshare-via="{{facebook_id}}"
	   socialshare-display="popup"
	   socialshare-popup-height="400"
	   socialshare-popup-width="600"
	   socialshare-redirect-uri="{{Url}}"
	   socialshare-url="{{Url}}">
		<svg width="40px" height="40px"><use xlink:href="{{svgMessenger}}"></use></svg>
	</a>
	<a class="share-link zalo-share-button" data-href="{{Url}}" data-oaid="{{zalo_id}}" data-layout="2" data-color="blue" data-customize="true">
		<img alt="zalo" src="/content/fonts/circle-zalo.svg" style="width:40px;height:40px;">
	</a>
</div>