@{
    ViewBag.Title = "Câu hỏi thường gặp";
}
<style type="text/css">
    div.note {
        background: #f9f8e6;
        background: rgba(231,228,157,.25);
        border-color: #fcfbf1;
        border-color: rgba(231,228,157,.15);
        border-style: solid;
        border-width: 3px;
        margin-bottom: 20px;
        padding: 10px 15px;
    }

    div.question {
        font-weight: bold
    }
</style>
<h3>CÂU HỎI THƯỜNG GẶP(Click 3 lần liên tiếp để bôi đen nguyên dòng)</h3>
<br />
<div class="question">1. Facebook hỏi: đặt hàng thế nào shop?</div>
<div class="note">Dạ có nhé chị, chị vào: <u>https://facebook.com/messages/becungfashion</u> cho shop xin số điện thoại và địa chỉ để shop tư vấn và gởi hàng cho chị nhé</div>

<div class="question">2. Giao hàng thế nào shop?</div>
<div class="note">Shop giao hàng TOÀN QUỐC, nếu mua trên 300k shop hỗ trợ 20k, trên 500k shop hỗ trợ chị 40k phí vận chuyển!</div>

<div class="question">3. Hàng hóa thế nào shop</div>
<div class="note">Dạ shop bán sản phẩm giống như hình chị yên tâm nhé! Nếu chị không hài lòng về sản phẩm của shop, chị có thể đổi trả trong vòng 7 ngày chị nhé!</div>

<div class="question">4. Khi một mẫu không còn hàng</div>
<div class="note">Chị có thể tham khảo thêm rất nhiều sản đẹp khác của shop tại: <u>https://homereal.lenmay.vn/</u></div>

<div class="question">5. Mẫu này shop còn size không?</div>
<div class="note">Dạ có nhé chị, shop có đủ size cho bé 1 - 8 (7 ~ 26kg) nhé chị!</div>

<div class="question">6. Địa chỉ shop ở đâu?</div>
<div class="note">Shop ở quận 7, shop chỉ bán online nên ko trưng bày hàng nhưng nếu chị muốn đến xem hàng thì đến 39D Huỳnh Tấn Phát, P. Phú Thuận, Quận 7, HCM</div>


@section Scripts {
    <script>
        var from = 400, to = 500;
        function tranfer() {
            from += 100;
            to += 100;
            if (from > 6859) {
                alert('finish');
                clearTimeout(t);
                return;
            }
            console.log('Get image for id from ' + from + ' to ' + to);
            restfulSvc.get('/home/_TranferImage', { from: from, to: to }, function (res) {
            });
            t = setTimeout(tranfer, 8000);
        }

        var t = setTimeout(tranfer, 8000);
    </script>
}