body {
	padding-top: 0;
}
.body-content {
	background: #f5f5f5;
	border: none;
	padding: 0;
}

/* Layout*/
.mg-960-container {
	width: 100%;
	max-width: 960px;
	padding: 0;
	margin: 0 auto;
}

	.mg-960-container:before, .mg-960-container:after {
		content: " ";
		display: table;
	}

	.mg-960-container:after {
		clear: both;
	}

/*Desktop*/
@media (min-width: 960px) {
    .mg-960-container {
        max-width: 960px;
    }

    .body-content {
        /*margin-top: 110px;*/
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 959px) {
    .mg-960-container {
        max-width: 100%;
    }

    .body-content {
        /*margin-top: 80px;*/
    }
}

/*Mobile*/
@media (max-width: 767px) {
    .mg-960-container {
        max-width: 100%;
    }

    .body-content {
        /*margin-top: 80px;*/
    }
}

/* End Layout*/
