<?xml version="1.0"?>
<!--<connectionStrings>
  <add name="AuthContext" connectionString="Data Source=.;Initial Catalog=HappyREAL;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	<add name="DBC_HappyRE" connectionString="Data Source=.;Initial Catalog=HappyREAL;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="HangfireConnection" connectionString="Data Source=.;Initial Catalog=HappyREHF;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>-->

<connectionStrings>
  <add name="AuthContext" connectionString="Data Source=61.28.233.220;Initial Catalog=BDS;Persist Security Info=True;User ID=sa;Password=MatkhauSql@2022" providerName="System.Data.SqlClient" />
  <add name="DBC_HappyRE" connectionString="Data Source=61.28.233.220;Initial Catalog=BDS;persist security info=True;User ID=sa;Password=MatkhauSql@2022" providerName="System.Data.SqlClient" />
  <add name="HangfireConnection" connectionString="Data Source=61.28.233.220;Initial Catalog=BDSHF;Persist Security Info=True;User ID=sa;Password=MatkhauSql@2022" providerName="System.Data.SqlClient" />
</connectionStrings>