@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div>Data:@Html.Raw(ViewBag.Data)</div>
@Html.Partial("Partials/_Captcha","")

@HappyRE.Core.Utils.Common.IsEmail("vanquy399556@gmail.com");
