
@{
    ViewBag.Title = "Tìm mua nhà, thuê nhà nhanh chóng trên khắp Việt Nam | batdongsanhanhphuc.vn";
    ViewBag.Description = "Tìm kiếm hàng trăm ngàn căn hộ, nhà đất, nhà trọ, văn phòng đẹp, tiện nghi đang rao bán, cho thuê trên khắp việt nam";
    ViewBag.PostingUrl = "https://batdongsanhanhphuc.vn/Profile/Posting";
    ViewBag.SalesUrl = "https://batdongsanhanhphuc.vn/mua-nha-dat";
    ViewBag.ForRentUrl = "https://batdongsanhanhphuc.vn/thue-nha-dat";
    ViewBag.SigUpUrl = "https://batdongsanhanhphuc.vn/dang-ky";
    ViewBag.SigInUrl = "https://batdongsanhanhphuc.vn/dang-nhap";
    ViewBag.AgentUrl = "https://batdongsanhanhphuc.vn/tim-moi-gioi";
    Layout = "~/Views/Shared/_LandingPage.cshtml";
}
@Styles.Render("~/content/landing3css")
<div class="main">
    <div class="top">
        <div class="container">
            <div class="content1">
                <div class="title">Hơn <span>120.000</span> nhà / căn hộ / phòng trọ</div>
                <div class="title">trải dài từ bắc chí nam</div>
                <div class="title">đang tìm chủ nhân</div>
            </div>
           
            <div class="content2">
                <div class="title2"><span>ĐỪNG TÌM HIỂU</span></div>
                <div class="title2">Nếu bạn <span>không muốn</span> có cuộc sống thoải mái hơn trong chính nhà của mình</div>
            </div>
            <div class="command">
                <a><img src="~/Content/Images/landing/landing3/Asset 16.png" /></a>
            </div>
            
        </div>
    </div>
    <div class="khao-sat clearfix">
        <div class="container">           
           <div class="img">
               <img src="~/Content/Images/landing/landing3/Untitled-2_05.gif" />
           </div>
            <div class="m-img">
                <img src="~/Content/Images/landing/M5.png" />
            </div>
           <div class="content">
               <div class="body clearfix">
                   <div class="img">
                       <img src="~/Content/Images/landing/landing3/Asset 15-80.jpg" />
                   </div>
                   <div class="body">
                       <div class="item1">Theo khảo sát của tập đoàn HSBC, cứ <span>10 người từ độ tuổi 24-45</span> thì có đến <span>4 người sở hữu căn hộ riêng</span></div>
                       <div class="m-img">
                           <img src="~/Content/Images/landing/landing3/mobile/Asset 15.png" />
                       </div>
                       <div class="item2">Theo một nghiên cứu khác từ các chuyên gia bất động sản tại Việt Nam, hơn <span>32% người trong độ tuổi 24-45</span> quan niệm rằng <span>"có an cư mới lạc nghiệp"</span></div>
                   </div>
               </div>
               <div class="footer1">*Tuy nhiên, tình trạng "cháy" phòng trọ, "khát" căn hộ, "nổ mắt" tìm nhà vẫn đang diễn ra tại các thành phố lớn*</div>
           </div>
           <div class="m-img">
               <img src="~/Content/Images/landing/landing3/Untitled-2_05.gif" />
           </div>
        </div>
    </div>
    <div class="sumenh clearfix">
        <div class="container">
            <div class="title"><h2 class="info">Nếu không có nhiều kinh nghiệm về "nhà ở" bạn sẽ phải đối mặt với nhiều rủi ro</h2></div>
            <div class="content">
                <div class="left">
                    <div class="item1 clearfix"><img class="m-icon" src="~/Content/Images/landing/landing3/mobile/Asset 22.png" /><div class="text"><span class="dac-biet">Không gian sống không phù hợp,</span> giao thông bất tiện</div></div>
                    <div class="item2 clearfix"><img class="m-icon" src="~/Content/Images/landing/landing3/mobile/Asset 16.png" /><div class="text">Mua nhà với <span class="dac-biet">thủ tục pháp lý không rõ ràng</span></div> </div>
                    <div class="item3 clearfix"><img class="m-icon" src="~/Content/Images/landing/landing3/mobile/Asset 17.png" /><div class="text">Nhà nằm trong khu dân trí thất, <span class="dac-biet">an ninh không đảm bảo</span></div></div>
                </div>
                <div class="right">
                    <div class="item1 clearfix"><img class="m-icon" src="~/Content/Images/landing/landing3/mobile/Asset 18.png" /><div class="text">Giá nhà đất <span class="dac-biet">không đúng với giá thẩm đinh</span></div> </div>
                    <div class="item2 clearfix"><img class="m-icon" src="~/Content/Images/landing/landing3/mobile/Asset 19.png" /><div class="text">Nhà có khả năng <span class="dac-biet">nằm trong khu quy hoạch</span></div> </div>
                    <div class="item3 clearfix"><img class="m-icon" src="~/Content/Images/landing/landing3/mobile/Asset 20.png" /><div class="text"><span class="dac-biet">Tranh chấp tài khoản đối với nhà,</span> căn hộ đang đầu tư</div></div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="loi-ich clearfix">
        <div class="container">
            <div class="title"><h2 class="info">Tại batdongsanhanhphuc.vn bạn sẽ được</h2></div>
            <div class="content">
                <div class="item ">
                    <img src="~/Content/Images/landing/landing3/Asset 11-80.jpg" />
                    <div>Lựa chọn được không gian sống, môi trường sống phù hợp nhất</div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/landing/landing3/Asset 12-80.jpg" />
                    <div>Đầu tư nhà ở khôn ngoan với giá tiền hợp lý, sát thị trường</div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/landing/landing3/Asset 13-80.jpg" />
                    <div>Thông tin bất động sản cập nhập liên tục 24/7</div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/landing/landing3/Asset 14-80.jpg" />
                    <div>Áp dụng lời khuyên từ chuyên gia bất động sản, bán nhà siêu lợi nhuận</div>
                </div>
            </div>
        </div>
    </div>

    <div class="vidu clearfix">
        <div class="container">
            <div class="title"><h2 class="info">Nhà/ Căn hộ/ Phòng trọ tiêu biểu nhất tại batdongsanhanhphuc.vn</h2></div>
            <div class="m-content">
                <ul>
                    <li>
                        <a href="https://batdongsanhanhphuc.vn/mua-nha"><img src="~/Content/Images/landing/landing3/mobile/MOBILE-LP_09.gif" width="100%" /></a>
                    </li>
                    <li>
                        <a href="https://batdongsanhanhphuc.vn/mua-can-ho"><img src="~/Content/Images/landing/landing3/mobile/MOBILE-LP_11.gif"  width="100%" /></a>
                    </li>
                    <li>
                        <a href="https://batdongsanhanhphuc.vn/mua-can-ho"><img src="~/Content/Images/landing/landing3/mobile/MOBILE-LP_15.gif"  width="100%" /></a>
                    </li>
                    <li>
                        <a href="https://batdongsanhanhphuc.vn/mua-dat"><img src="~/Content/Images/landing/landing3/mobile/MOBILE-LP_16.gif"  width="100%" /></a>
                    </li>
                    <li>
                        <a href="https://batdongsanhanhphuc.vn/thue-mat-bang-cua-hang-shop"><img src="~/Content/Images/landing/landing3/mobile/MOBILE-LP_19.gif"  width="100%" /></a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="item">
                    <a href="https://batdongsanhanhphuc.vn/mua-nha">
                        <img src="~/Content/Images/landing/landing3/Untitled-2_08.gif" />
                        <div class="info">
                            <img src="~/Content/Images/landing/landing3/mua-thue-nha.png" />
                            <div>Mua/ Thuê nhà</div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="https://batdongsanhanhphuc.vn/mua-can-ho">
                        <img src="~/Content/Images/landing/landing3/Untitled-2_10.gif" />
                        <div class="info">
                            <img src="~/Content/Images/landing/landing3/can-ho.png" />
                            <div>Mua/ Thuê căn hộ</div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="https://batdongsanhanhphuc.vn/mua-dat">
                        <img src="~/Content/Images/landing/landing3/Untitled-2_12.gif" />
                        <div class="info">
                            <img src="~/Content/Images/landing/landing3/dat.png" />
                            <div>Mua/ Thuê đất</div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="https://batdongsanhanhphuc.vn/thue-phong-tro-nha-tro">
                        <img src="~/Content/Images/landing/landing3/Untitled-2_14.gif" />
                        <div class="info">
                            <img src="~/Content/Images/landing/landing3/phong-tro.png" />
                            <div>Mua/ Thuê phòng trọ</div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="https://batdongsanhanhphuc.vn/thue-mat-bang-cua-hang-shop">
                        <img src="~/Content/Images/landing/landing3/Untitled-2_16.gif" />
                        <div class="info">
                            <img src="~/Content/Images/landing/landing3/mat-bang.png" />
                            <div>Mua/ Thuê mặt bằng</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="chua-biet clearfix">
        <div class="container">
            <div class="title">Có thể bạn chưa biết</div>
            <div class="content clearfix">
                <div class="left">
                    <div class="item">
                        <a href="https://batdongsanhanhphuc.vn/mua-nha-dat">> Thông tin thị trường bất động sản theo quận</a>
                    </div>
                    <div class="item">
                        <a href="https://batdongsanhanhphuc.vn/tham-khao-gia">> Tham khảo giá nhà ở tại các khu vực</a>
                    </div>
                    <div class="item">
                        <a href="https://news.batdongsanhanhphuc.vn/luat-nha-dat/"> > Thủ tục pháp lý giao dịch bất động sản</a>
                    </div>
                </div>
                <div class="right">
                    <img src="~/Content/Images/landing/landing3/Asset 21.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="footer clearfix">
        <div class="container">
            <div class="left">
                <a href="/" alt="batdongsanhanhphuc.vn"><img src="~/Content/Images/landing/logo.png" alt="Mogi bất động sản thật" /></a>
                <div class="m-social">
                    <a href="https://www.facebook.com/mogivietnam"><img src="~/Content/Images/landing/mobile/M-face.png" /></a>
                    <a href="https://www.youtube.com/channel/UCvRsRjbwCp2fBEizRsaaNqw"><img src="~/Content/Images/landing/youtube.jpg" /></a>
                    <a href="https://www.facebook.com/mogivietnam"><img src="~/Content/Images/landing/mobile/M-In.png" /></a>
                </div>
                <div class="m-url">www.batdongsanhanhphuc.vn</div>
            </div>
            <div class="center">
                <div class="url"><a href="https://batdongsanhanhphuc.vn">www.batdongsanhanhphuc.vn</a></div>
                <div class="calling">
                    <div>1900 6868</div>
                    <div>(028) 7300 1234</div>
                    <div>(028) 7300 1234</div>
                </div>
                <div class="address">
                    <div>28-30 Đường số 2</div>
                    <div>Hưng Gia 5, phường Tân Phong</div>
                    <div> Quận 7, TP. Hồ Chí Minh</div>
                </div>
            </div>
            <div class="right">
                <a href="https://www.facebook.com/mogivietnam"><img src="~/Content/Images/landing/icon-face.jpg" /></a>
                <a href="https://www.youtube.com/channel/UCvRsRjbwCp2fBEizRsaaNqw"><img src="~/Content/Images/landing/youtube.jpg" /></a>
                <a href="https://www.facebook.com/mogivietnam"><img src="~/Content/Images/landing/icon-in.jpg" /></a>
            </div>
        </div>

    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function (event) {
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });
            $('.side-collapse-container').click(function (event) {
                //if ($(sel).hasClass('out')) {
                //    $(sel).toggleClass('out');
                //    $(sel2).toggleClass('in');
                //}
            });
        });
        @*angular.module('mogiAppLanding', []).controller('landingController', ['$scope', '$interval', function ($scope, $interval) {
            $scope.Time = {
                Day: '00',
                Hour: '00',
                Minute: '00',
                Second: '00',
                Hour1: '0',
                Hour2: '0',
                Minute1: '0',
                Minute2: '0',
                Second1: '0',
                Second2: '0',
            };
            var target_date = new Date('@Html.Raw(ViewBag.Expired)').getTime(); // set the countdown date
            //var target_date = new Date(2017,7,17).getTime();
            var days, hours, minutes, seconds; // variables for time units
            getCountdown();

            $interval(function () { getCountdown(); }, 1000);

            function getCountdown() {

                // find the amount of "seconds" between now and target
                var current_date = new Date().getTime();
                var seconds_left = (target_date - current_date) / 1000;

                days = pad(parseInt(seconds_left / 86400));
                seconds_left = seconds_left % 86400;

                hours = pad(parseInt(seconds_left / 3600));
                seconds_left = seconds_left % 3600;

                minutes = pad(parseInt(seconds_left / 60));
                seconds = pad(parseInt(seconds_left % 60));
                $scope.Time.Day = days;
                $scope.Time.Hour = hours;
                $scope.Time.Minute = minutes;
                $scope.Time.Second = seconds;
                $scope.Time.Hour1 = $scope.Time.Hour.substring(0, 1);
                $scope.Time.Hour2 = $scope.Time.Hour.substring(1);
                $scope.Time.Minute1 = $scope.Time.Minute.substring(0, 1);
                $scope.Time.Minute2 = $scope.Time.Minute.substring(1);
                $scope.Time.Second1 = $scope.Time.Second.substring(0, 1);
                $scope.Time.Second2 = $scope.Time.Second.substring(1);
            }

            function pad(n) {
                return (n < 10 ? '0' : '') + n;
            }
        }]);*@

    </script>
}

