@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Nhóm quyền";
}

@(Html.Kendo().Grid<HappyRE.Core.Entities.Model.RoleGroup>()
      .Name("_list")
        .ToolBar(tools => tools.Template(@<text>
        <button onclick="baseDetailPopup.show('RoleGroup',0)" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Thêm mới</button>
        </text>))

      .Columns(columns =>
      {
          columns.Bound(e => e.Id).ClientTemplate("<a href='javascript:void(0);' onclick='baseDetailPopup.show(\"RoleGroup\",#=Id#)'>#=Name#</a>").Title("Nhóm quyền");
          //columns.Bound(p => p.Roles).Width(100);
          columns.Command(command => command.Destroy().Text("Xóa")).Width(100);
      })
      .Pageable(x => x.PageSizes(new[] { 10, 30, 50, 80, 100 }))
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.Id))
          .Events(events => events.Error("common.errorHandler"))
                  .Read(read => read.Action("Search", "RoleGroup"))
                  .Destroy("Delete", "RoleGroup")
      )
)
@(Html.Kendo().Window()
      .Name("_detail")
      .Title("Nhóm quyền")
      .Modal(true)
      .Width(680)
      //.Height(350)
      .Visible(false)
      .Scrollable(true))
