<div style="text-align:center;padding:15px;font-size:18px;"><b>ĐIỀU KHOẢN SỬ DỤNG</b></div>
<ol>
    <li class="agreement-item">
        <b>Điều khoản chung</b>
        <ul>
            <li>batdongsanhanhphuc.vn có toàn quyền quyết định đăng, hoặc không đăng; lưu giữ hoặc không lưu giữ thông tin của khách hàng đăng trên trang web này mà không cần phải báo trước cho khách hàng.</li>
            <li>Khách hàng đăng tin trên batdongsanhanhphuc.vn phải tự chịu trách nhiệm về nội dung, tính xác thực của tin đăng.batdongsanhanhphuc.vn không chịu trách nhiệm và không bảo đảm về tính chính xác của thông tin được đăng. Đồng thời, không chịu bất cứ trách nhiệm pháp lý hoặc bồi thường thiệt hại nào về việc mất mát hay hư hỏng đối với những hàng hóa được đề cập đến trong tất cả các giao dịch trên batdongsanhanhphuc.vn.</li>
            <li>Mọi thành viên, khách hàng, đối tác của batdongsanhanhphuc.vn có trách nhiệm thường xuyên truy cập trang "Điều khoản sử dụng" này, xem mọi sự thay đổi, bổ sung (nếu có), để xác nhận, và đồng ý với tất cả các phần sửa đổi, bổ sung.</li>
        </ul>
    </li>
    <li class="agreement-item">
        <b>Điều khoản riêng về nội dung</b>
        <ul>
            <li>Với tin đăng có website hoặc đường link có nội dung xấu, batdongsanhanhphuc.vn sẽ từ chối đăng và xóa website hoặc link này mà không cần phải báo trước</li>
            <li>Các thông tin đăng trên website batdongsanhanhphuc.vn không được niêm yết giá bằng vàng, ngoại tệ, chỉ được niêm yết giá tiền đồng Việt Nam. Các thông tin vi phạm quy định này, Ban biên tập sẽ xóa giá mà không cần thông báo trước. Với một số thông tin của khách hàng có ghi giá của sản phẩm, nếu Ban biên tập nhận thấy mức giá này không phù hợp với mức giá chung trên thị trường, chúng tôi sẽ bỏ giá, mà không cần thông báo trước.</li>
            <li>Với tiêu đề và mô tả của tin đăng: nhập Tiếng Việt chữ thường, có dấu, viết hoa đầu dòng, không viết tắt và dùng những ký tự đặc biệt. Trong tiêu đề không được nhập số điện thoại, tên website.</li>
            <li>Với Hình ảnh của tin đăng: phải là hình ảnh có liên quan đến nội dung tin. Trên hình ảnh không được để hình chìm (watermark) của web hoặc báo khác.</li>
            <li>Với Video: Chỉ tải lên các video do bạn tạo hoặc bạn được quyền sử dụng, Video không  được chèn Logo của web hoặc kênh khác.</li>
        </ul>
    </li>
    <li class="agreement-item">
        <b>Điều khoản riêng về bản quyền thương hiệu</b>:
        Để tránh cạnh tranh không lành mạnh và gây nhầm lẫn cho khách hàng, batdongsanhanhphuc.vn giữ toàn quyền không đăng bài quảng cáo cho những công ty và trang web có tính chất sau:
        <ul>
            <li>Có tính chất giả tạo batdongsanhanhphuc.vn để cung cấp dịch vụ</li>
            <li>Sao chép giao diện của batdongsanhanhphuc.vn</li>
            <li>Sao chép slogan, logo hoặc tên miền của batdongsanhanhphuc.vn</li>
        </ul>
    </li>
    <li class="agreement-item">
        <b>Điều khoản riêng về quy tắc đăng tin</b>
        <ul>
            <li>
                <b>Các giới hạn hiển thị tin trên batdongsanhanhphuc.vn</b>: Sau 30 ngày "KHÔNG LÀM MỚI" hoặc "GIA HẠN DỊCH VỤ" thì tin sẽ không hiển thị trên batdongsanhanhphuc.vn
            </li>
            <li>
                <b>Quy định với tin trùng lặp nội dung</b>: Nội dung tin trùng lặp trong vòng 30 ngày, chúng tôi có quyền từ chối duyệt tin. Với tin đăng có phí, để tin không bị đánh dấu trùng lặp quý khách vui lòng thực hiện gia hạn tin đăng, không đăng lại tin mới. Nếu quý khách có nhiều tin đăng trùng lặp nội dung, quý khách sẽ bị khoá chức năng đăng tin trong 1 thời hạn nhất định. Quý khách vẫn có thể dùng chức năng LÀM MỚI cho các tin đã đăng. Sau ngày khoá nếu quý khách tiếp tục đăng tin trùng lặp, tài khoản có thể sẽ bị khoá tiếp hoặc sẽ bị chặn quyền đăng tin vĩnh viễn.
            </li>
        </ul>
    </li>
</ol>