<div ng-controller="captchaController" class="form-group">
    <div class="col-sm-12">
        <div class="input-group">
            @Html.Partial("Partials/_Captcha","")
        </div>
    </div>
</div>


