@using HappyRE.Core.Resources;
@{
	ViewBag.Title = Message.Msg_ResetPassword_Success;
}

<div class="login row">
	<div class="verticalcenter">
		<div class="panel">
			<div class="f-header">
				<span class="title">@Message.Msg_ResetPassword_Success</span>
			</div>
			<div class="panel-body">
				<p>@Message.Account_PassworlChanged</p>
				<p>@Html.ActionLink(Message.Msg_Return_LoginPage, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
			</div>
		</div>
	</div>
</div>

@section styles {
	<link rel="preload" href="@HappyRE.Core.Utils.Common.CDNUrl@Styles.Url("~/content/account.css")" as="style" onload="this.onload=null;this.rel='stylesheet'">
}
@section scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			setTimeout(function () { window.location = '/dang-nhap'; }, 5000);
		});
	</script>
}