<?xml version="1.0"?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Data Source=192.168.2.47;Initial Catalog=MBNMaster;Persist Security Info=True;User ID=mbn.dev;Password=v8vrRVGbUioQtMJHQLqYneB3H7ILyZZ6" providerName="System.Data.SqlClient" />
  <remove name="DBC_MOGI" />
  <add name="DBC_MOGI" connectionString="Data Source=192.168.2.47;Initial Catalog=Mogi;Persist Security Info=True;User ID=mbn.dev;Password=v8vrRVGbUioQtMJHQLqYneB3H7ILyZZ6" providerName="System.Data.SqlClient" />
  <add name="DBC_MOGI1" connectionString="Data Source=192.168.2.47;Initial Catalog=Mogi;Persist Security Info=True;User ID=mbn.dev;Password=v8vrRVGbUioQtMJHQLqYneB3H7ILyZZ6" providerName="System.Data.SqlClient" />
  <add name="DBC_MOGI_MASTER" connectionString="Data Source=192.168.2.47;Initial Catalog=Mogi;Persist Security Info=True;User ID=mbn.dev;Password=v8vrRVGbUioQtMJHQLqYneB3H7ILyZZ6" providerName="System.Data.SqlClient" />
  <add name="DBC_MOGIREPORT" connectionString="Data Source=192.168.2.23;Initial Catalog=MogiReport;Persist Security Info=True;User ID=mbn.dev;Password=v8vrRVGbUioQtMJHQLqYneB3H7ILyZZ6" providerName="System.Data.SqlClient" />
  <add name="DBC_HOUSEPRICE" connectionString="Data Source=192.168.2.23;Initial Catalog=HousePrice;Persist Security Info=True;User ID=mbn.dev;Password=v8vrRVGbUioQtMJHQLqYneB3H7ILyZZ6" providerName="System.Data.SqlClient" />
</connectionStrings>