<?xml version="1.0" encoding="utf-8"?>
<RouteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Routes>
    <RouteConfigItem Name="Resource" Url="{resource}.axd/{*pathInfo}" Controller="" Action="" IgnoreRoute="true" Enabled="true" />
    <RouteConfigItem Name="Service" Url="{service}.asmx/{*pathInfo}" Controller="" Action="" IgnoreRoute="true" Enabled="true" />

    <RouteConfigItem Name="Home_PageNotFound" Url="not-found" Controller="Home" Action="PageNotFound" IgnoreRoute="false" Enabled="true">
    </RouteConfigItem>
    <RouteConfigItem Name="Home_LandingPage" Url="khuyen-mai" Controller="Home" Action="LandingPage" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Home_LandingPageEN" Url="dangtintienganh" Controller="Home" Action="LandingPageEN" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Home_LandingPage3" Url="timnhakhongkho" Controller="Home" Action="LandingPage3" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Home_LandingPage4" Url="phong-tro-sinh-vien" Controller="Home" Action="LandingPage4" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Home_BuyingGuide_Old" Url="10-buoc-hoan-thanh-thu-tuc-mua-nha" Controller="Home" Action="Move" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="newUrl" Value="/10-buoc-mua-nha" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Home_BuyingGuide" Url="10-buoc-mua-nha" Controller="Home" Action="BuyingGuide" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Home_LeadUnsub" Url="ngung-nhan-mail-moi-dk" Controller="Home" Action="LeadUnsubscribe" IgnoreRoute="false" Enabled="true"></RouteConfigItem>

    <RouteConfigItem Name="Account_ExternalLoginCallback" Url="signin-google-callback" Controller="Account" Action="ExternalLoginCallback" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
	  <RouteConfigItem Name="Account_ZalolLoginCallback" Url="signin-zalo-callback" Controller="Account" Action="ZaloLoginCallback" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Account_Login" Url="dang-nhap" Controller="Account" Action="Login" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Account_Register" Url="dang-ky" Controller="Account" Action="Register" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Account_LogOff" Url="logoff" Controller="Account" Action="LogOff" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Account_Register_For_Student" Url="register-for-student" Controller="Account" Action="AffilateRegister" IgnoreRoute="false" Enabled="true"></RouteConfigItem>

    <RouteConfigItem Name="Property_ListingPopup" Url="widgets/maps/listing-popup" Controller="Property" Action="ListingPopup" IgnoreRoute="false" Enabled="true"></RouteConfigItem>

    <RouteConfigItem Name="Property_StudentRentHouse" Url="phong-tro-gan-truong" Controller="Property" Action="StudentRentHouse" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_IndustrialParkRentHouse" Url="phong-tro-gan-kcn" Controller="Property" Action="IndustrialParkRentHouse" IgnoreRoute="false" Enabled="true"></RouteConfigItem>


    <!--Begin sitemap controller-->
    <RouteConfigItem Name="Sitemap_Index" Url="sitemap/sitemap.xml" Controller="Sitemap" Action="Index" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="id" Value="1" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Sitemap_Index_Location" Url="sitemap/sitemap-location-{sitemapType}-{id}.xml" Controller="Sitemap" Action="SitemapCategory" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="sitemapType" Value="2" />
        <RouteParamItem Name="id" Value="2" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Sitemap_Index_Category" Url="sitemap/sitemap-category-{sitemapType}-{id}.xml" Controller="Sitemap" Action="SitemapCategory" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="sitemapType" Value="3" />
        <RouteParamItem Name="id" Value="0" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Sitemap_Index_Project" Url="sitemap/sitemap-projects-{sitemapType}-{id}.xml" Controller="Sitemap" Action="SitemapCategory" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="sitemapType" Value="5" />
        <RouteParamItem Name="id" Value="0" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Sitemap_SitemapDetailXml" Url="sitemap/sitemap-detail.xml" Controller="Sitemap" Action="SitemapDetailXml" IgnoreRoute="false" Enabled="true">
    </RouteConfigItem>
    <RouteConfigItem Name="Sitemap_SitemapDetailPage" Url="sitemap/sitemap-detail-{id}.xml" Controller="Sitemap" Action="SitemapDetailPage" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="id" Value="0" />
      </Params>
    </RouteConfigItem>
    <!--End sitemap controller-->

    <!--MarketPrice:Begin-->
    <RouteConfigItem Name="MarketPrice_Search_Old" Url="tham-khao-gia" Controller="Home" Action="Move" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="newUrl" Value="/gia-nha-dat" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="MarketPrice_District_Old" Url="tham-khao-gia-{quan}-qd{districtId}" Controller="MarketPrice" Action="StreetList" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="MarketPrice_Detail_Old" Url="tham-khao-gia-{duong}-{quan}-d{districtId}-s{streetid}" Controller="MarketPrice" Action="Detail_V2" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="MarketPrice_Search" Url="gia-nha-dat" Controller="MarketPrice" Action="MarketList" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="MarketPrice_District" Url="gia-nha-dat-{quan}-qd{districtId}" Controller="MarketPrice" Action="StreetList" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="MarketPrice_Detail" Url="gia-nha-dat-{duong}-d{districtId}-s{streetid}" Controller="MarketPrice" Action="Detail_V3" IgnoreRoute="false" Enabled="true"></RouteConfigItem>

    <RouteConfigItem Name="MarketPrice_DetailHistory_Old" Url="lich-su-gia/{id}" Controller="MarketPrice" Action="DetailHistory" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="MarketPrice_DetailHistory" Url="lich-su-gia-{code}-{id}" Controller="MarketPrice" Action="DetailHistory" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <!--MarketPrice:End-->


    <!--ProfileInfo:Begin-->
    <RouteConfigItem Name="Profile_Index" Url="trang-ca-nhan/tim-kiem-da-luu" Controller="Profile" Action="Index" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Profile_UserProfile" Url="trang-ca-nhan/thong-tin-ca-nhan" Controller="Profile" Action="UserProfile" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Profile_FavoriteList" Url="trang-ca-nhan/bat-dong-san-yeu-thich" Controller="Profile" Action="FavoriteList" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Profile_ChangePassword" Url="trang-ca-nhan/doi-mat-khau" Controller="Profile" Action="ChangePassword" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Profile_MogiPro" Url="trang-ca-nhan/mogipro" Controller="Account" Action="MogiPro" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    
    <RouteConfigItem Name="Profile_GetInbox" Url="api-profile/get-inbox" Controller="Profile" Action="GetInbox" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <!--ProfileInfo:End-->

    <!--Agent:Begin-->
    <RouteConfigItem Name="Agent_Detail" Url="moi-gioi/{codeUrl}-uid{id}" Controller="Agent" Action="Detail" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Agent_Detail_US" Url="agent/{codeUrl}-uid{id}" Controller="Agent" Action="Detail" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_Agent_List" Url="tim-moi-gioi" Controller="Agent" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_Agent_List_City" Url="tim-moi-gioi/{cityUrl}-cid{CityId}" Controller="Agent" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_Agent_List_District" Url="tim-moi-gioi/{cityUrl}-did{DistrictId}" Controller="Agent" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_Agent_List_Agent" Url="tim-moi-gioi/{codeUrl}-uid{agentId}" Controller="Agent" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_Agent_List_US" Url="find-agent" Controller="Agent" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_Agent_List_US_City" Url="find-agent/{cityUrl}-cid{CityId}" Controller="Agent" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_Agent_List_US_District" Url="find-agent/{cityUrl}-did{DistrictId}" Controller="Agent" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_Agent_List_US_Agent" Url="find-agent/{codeUrl}-uid{agentId}" Controller="Agent" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <!--Agent:End-->

    <!--Cms:Begin-->
    <RouteConfigItem Name="Cms_Contact" Url="lien-he/gui-lien-he" Controller="Cms" Action="Contact" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="codeUrl" Value="gui-lien-he" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Cms_BranchOffice" Url="lien-he/van-phong-giao-dich" Controller="Cms" Action="BranchOffice" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Cms_NotarizeOffice" Url="lien-he/van-phong-cong-chung" Controller="Cms" Action="NotarizeOffice" IgnoreRoute="false" Enabled="true"></RouteConfigItem>

    <RouteConfigItem Name="Cms_List_CAT58" Url="gioi-thieu/{codeUrl}" Controller="Cms" Action="List" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="parentCodeUrl" Value="gioi-thieu" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Cms_List_CAT64" Url="huong-dan/{codeUrl}" Controller="Cms" Action="List" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="parentCodeUrl" Value="huong-dan" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Cms_List_CAT78" Url="bang-gia/{codeUrl}" Controller="Cms" Action="List" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="parentCodeUrl" Value="bang-gia" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Cms_List_CAT69" Url="thanh-toan/{codeUrl}" Controller="Cms" Action="List" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="parentCodeUrl" Value="thanh-toan" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Cms_List_CAT82" Url="quy-che/{codeUrl}" Controller="Cms" Action="List" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="parentCodeUrl" Value="quy-che" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Cms_Detail" Url="tin-tuc/{codeUrl}-nid{id}" Controller="Cms" Action="Detail" IgnoreRoute="false" Enabled="true">
    </RouteConfigItem>
    <!--Cms:End-->


    <!--Project:Begin-->
    <RouteConfigItem Name="Project_List_Keyword" Url="du-an/tim-{keyword}" Controller="Project" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Project_Detail" Url="du-an/{districtUrl}/{codeUrl}-prj{id}" Controller="Project" Action="Detail" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Project_List" Url="du-an" Controller="Project" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Project_List_Project" Url="du-an/{codeUrl}-prj{projectId}" Controller="Project" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Project_List_City" Url="du-an/{codeUrl}-cid{cityId}" Controller="Project" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Project_List_Ward" Url="du-an/{codeUrl}-wid{wardId}" Controller="Project" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Project_List_Street" Url="du-an/{codeUrl}-sid{streetId}" Controller="Project" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Project_List_Org" Url="du-an/{codeUrl}-oid{orgId}" Controller="Project" Action="List" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <!--Project:End-->


    <!--PropertyDetail:Begin-->
    <RouteConfigItem Name="Property_Detail_Rent" Url="{DistrictUrl}/{PropertyStyleUrl}/cho-thue-id{id}" Controller="Property" Action="Detail" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_Detail_Sale" Url="{DistrictUrl}/{PropertyStyleUrl}/ban-nha-dat-id{id}" Controller="Property" Action="Detail" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_Detail_Sale" Url="{DistrictUrl}/{PropertyStyleUrl}/{codeUrl}-id{id}" Controller="Property" Action="Detail" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <!--PropertyDetail:End-->

    <!--PropertyType -->
   
    <RouteConfigItem Name="Property_ListBuy_01" Url="{CityUrl}/{DistrictUrl}/mua-{PropUrl}/{project}-prj{ProjectId}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_02" Url="{CityUrl}/{DistrictUrl}/mua-{PropUrl}/{street}-sid{StreetId}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_03" Url="{CityUrl}/{DistrictUrl}/mua-{PropUrl}/{ward}-wid{WardId}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_04" Url="{CityUrl}/{DistrictUrl}/mua-{PropUrl}/{place}-pid{PlaceId}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_05" Url="{CityUrl}/{DistrictUrl}/mua-{PropUrl}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_06" Url="{CityUrl}/mua-{PropUrl}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_07" Url="mua-{PropUrl}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"/>

    <RouteConfigItem Name="Property_ListRent_01" Url="{CityUrl}/{DistrictUrl}/thue-{PropUrl}/{project}-prj{ProjectId}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_02" Url="{CityUrl}/{DistrictUrl}/thue-{PropUrl}/{street}-sid{StreetId}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_03" Url="{CityUrl}/{DistrictUrl}/thue-{PropUrl}/{ward}-wid{WardId}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_04" Url="{CityUrl}/{DistrictUrl}/thue-{PropUrl}/{place}-pid{PlaceId}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_05" Url="{CityUrl}/{DistrictUrl}/thue-{PropUrl}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_06" Url="{CityUrl}/thue-{PropUrl}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_07" Url="thue-{PropUrl}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>


    <RouteConfigItem Name="Property_ListBuy" Url="{*url}" Controller="Property" Action="ListBuy" IgnoreRoute="false"
      Enabled="true"
      Constraints="(?&lt;CityUrl&gt;[^/]*)/(?&lt;DistrictUrl&gt;[^/]*)/mua\-(?&lt;PropUrl&gt;.*)/.*-(prj(?&lt;ProjectId&gt;\d+)|wid(?&lt;WardId&gt;\d+)|sid(?&lt;StreetId&gt;\d+)|pid(?&lt;PlaceId&gt;\d+))#((?&lt;CityUrl&gt;[^/]*)/((?&lt;DistrictUrl&gt;[^/]*)/)?)?mua\-(?&lt;PropUrl&gt;.*)" >
    </RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent" Url="{*url}"  Controller="Property" Action="ListRent" IgnoreRoute="false"
      Enabled="true"
      Constraints="(?&lt;CityUrl&gt;[^/]*)/(?&lt;DistrictUrl&gt;[^/]*)/thue\-(?&lt;PropUrl&gt;.*)/.*-(prj(?&lt;ProjectId&gt;\d+)|wid(?&lt;WardId&gt;\d+)|sid(?&lt;StreetId&gt;\d+)|pid(?&lt;PlaceId&gt;\d+))#((?&lt;CityUrl&gt;[^/]*)/((?&lt;DistrictUrl&gt;[^/]*)/)?)?thue\-(?&lt;PropUrl&gt;.*)" >
    </RouteConfigItem>

    <!--<RouteConfigItem Name="Property_ListBuy_01_US" Url="{CityUrl}/{DistrictUrl}/buy-{PropUrl}/{project}-prj{ProjectId}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_02_US" Url="{CityUrl}/{DistrictUrl}/buy-{PropUrl}/{street}-sid{StreetId}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_03_US" Url="{CityUrl}/{DistrictUrl}/buy-{PropUrl}/{ward}-wid{WardId}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_04_US" Url="{CityUrl}/{DistrictUrl}/buy-{PropUrl}/{place}-pid{PlaceId}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_05_US" Url="{CityUrl}/{DistrictUrl}/buy-{PropUrl}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_06_US" Url="{CityUrl}/buy-{PropUrl}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListBuy_07_US" Url="buy-{PropUrl}" Controller="Property" Action="ListBuy" IgnoreRoute="false" Enabled="true"/>

    <RouteConfigItem Name="Property_ListRent_01_US" Url="{CityUrl}/{DistrictUrl}/rent-{PropUrl}/{project}-prj{ProjectId}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_02_US" Url="{CityUrl}/{DistrictUrl}/rent-{PropUrl}/{street}-sid{StreetId}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_03_US" Url="{CityUrl}/{DistrictUrl}/rent-{PropUrl}/{ward}-wid{WardId}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_04_US" Url="{CityUrl}/{DistrictUrl}/rent-{PropUrl}/{place}-pid{PlaceId}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_05_US" Url="{CityUrl}/{DistrictUrl}/rent-{PropUrl}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_06_US" Url="{CityUrl}/rent-{PropUrl}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="Property_ListRent_07_US" Url="rent-{PropUrl}" Controller="Property" Action="ListRent" IgnoreRoute="false" Enabled="true"></RouteConfigItem>-->

    <!--<RouteConfigItem Name="Property_Index_Rent" Url="ban-{codeUrl}-m{mapId}-p{propertyTypeId}" Controller="Property" Action="ListView" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="Transaction" Value="1" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Property_Index_Rent_US" Url="sale-{codeUrl}-m{mapId}-p{propertyTypeId}" Controller="Property" Action="ListView" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="Transaction" Value="1" />
      </Params>
    </RouteConfigItem>

    <RouteConfigItem Name="Property_Index_ban_36" Url="ban-{codeUrl}-m{mapId}-p{propertyTypeId}" Controller="Property" Action="ListView" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="Transaction" Value="1" />
      </Params>
    </RouteConfigItem>
    <RouteConfigItem Name="Property_Index_ban_37" Url="cho-thue-{codeUrl}-m{mapId}-p{propertyTypeId}" Controller="Property" Action="ListView" IgnoreRoute="false" Enabled="true">
      <Params>
        <RouteParamItem Name="Transaction" Value="2" />
      </Params>
    </RouteConfigItem>-->
    <!--End PropertyType-->

    <!-- End List Controller -->

    <!--<RouteConfigItem Name="Proxy" Url="apiproxy/{controller}/{action}" Controller="Profile" Action="GetInbox" IgnoreRoute="false" Enabled="true" >
    </RouteConfigItem>-->
    <!-- Default Route -->
    <!-- Ward Review:Begin -->
    <RouteConfigItem Name="WardReview" Url="review-khu-vuc" Controller="WardReview" Action="City" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="WardReview_Districts" Url="review-khu-vuc/{codeUrl}-cid{cid}" Controller="WardReview" Action="Districts" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="WardReview_Wards" Url="review-khu-vuc/{codeUrl}-did{did}" Controller="WardReview" Action="Wards" IgnoreRoute="false" Enabled="true"></RouteConfigItem>
    <RouteConfigItem Name="WardReview_Ward" Url="review-khu-vuc/{codeUrl}-wid{id}" Controller="WardReview" Action="Ward" IgnoreRoute="false" Enabled="true"></RouteConfigItem>

    <!-- Ward Review:End -->
    <RouteConfigItem Name="Default" Url="{controller}/{action}/{id}" Controller="Home" Action="Index" IgnoreRoute="false" Enabled="true" >
      <Params>
        <RouteParamItem Name="id" Value="" />
      </Params>
    </RouteConfigItem>
  </Routes>
</RouteConfig>