@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Đã có lỗi khi xử lý (yêu cầu không hợp lệ hoặc bạn không có quyền xem nội dung)";
}

<div style="text-align: center;">
    <img src="~/Content/images/src/404.jpg" />
</div>

