<?xml version="1.0"?>
<connectionStrings>
  <add name="AuthContext" connectionString="Data Source=.;Initial Catalog=HappyRE;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="DBC_HappyRE" connectionString="Data Source=.;Initial Catalog=HappyRE;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="HangfireConnection" connectionString="Data Source=.;Initial Catalog=HappyREHF;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>