<div class="visible-lg visible-md banner-list-center widget">
    <div class="banner-content">
        <a href="https://batdongsanhanhphuc.vn/bang-gia/dich-vu" target="_blank" gtm-event="right-banner" gtm-cat="banner" gtm-act="click-promotion">
            <img src="~/content/images/banner/agent-listing-desktop.png" style="width:100%" />
        </a>
    </div>
</div>

