@{ string url = (HappyRE.Core.Utils.Common.IsUS() == true ? "https://en.batdongsanhanhphuc.vn/buy-property" : "https://news.batdongsanhanhphuc.vn/ra-mat-tinh-nang-tham-khao-gia/");}
<div class="banner-home-center">
    <div class="banner-content">
        <a href="@url">
            <picture>
                <source media="(min-width: 992px)" srcset="/content/images/banner/home-desktop.png">
                <source media="(min-width: 768px)" srcset="/content/images/banner/home-tablet.png">
                <img src="/content/images/banner/home-mobile.png" alt="">
            </picture>
        </a>
    </div>
</div>